.login-card{
    width: 1000px;
    margin: 100px auto;
    background-color: #E0DDAA;
    display: flex;
    border-radius: 30px;
}

.login-card img{
    border-radius: 30px 0px 0px 30px;
    width: 50%;
}
.login-card .form{
    margin: auto auto;
}