/* Body & Card start */
.body .title {
    text-align: center;
}
.body .title h1 {
    font-size: 48px;
    margin: 0px;
}
.body .title h2 {
    font-size: 24px;
    margin: 0px 0px 40px 0px;
}
.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body {
    margin: 100px 0px;
}
.card-container {
    margin: 15px;
    width: 320px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #cbced1, -10px -10px 10px #fff;
    border-radius: 10px;
    padding: 20px;
}
.cardContainer img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #5f5f5f, -2px -2px 10px #ffffff;
}

.card-title {
    display: flex;
    justify-content: space-between;
}
/* Body & Card End */

.card-container:hover {
    box-shadow: 4px 4px 10px #858585, -10px -10px 10px #fff
  }