.game-detail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ecf0f3;
    padding: 3.125rem;
}
.detail-container {
    background-color: #ecf0f3d5;
    padding: 1.25rem;
    color: black;
    border-radius: 0.625rem;
}
.game-detail a {
    color: black !important;
}
.game-detail a:hover {
    color: #2094f2 !important;
    text-decoration: none;
}
.top-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.bottom-container {
    text-align: center;
}
.detail-img {
    margin: 0 30px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 40%;
    max-height: 400px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
    object-fit: cover;
    object-position: top;
}
.sub-container {
    margin: 1.25rem 0;
}
h1 {
    border-bottom: rgba(255, 255, 255, 0.2) solid 0.00625rem;
    padding: 0.3125rem 0;
}
.platform-container {
    /* display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap; */
}
.platform:hover {
    color: #2094f2;
    text-decoration: none;
}
.video-container {
    color: white;
    padding: 0 1.25rem;
}
.comments-container {
    margin-top: 40px;
}

.add-comment {
    background-color: #ecf0f3;
    border-radius: 10px;
    padding: 20px;
    color: black;
    width: 100%;
    margin: 20px 0;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    text-align: center;
}
.add-comment .form-field {
    display: block;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.add-comment textarea {
    height: 80px;
}
.add-comment .btn {
    box-shadow: none;
    width: 100%;
    max-width: 300px;
    height: 40px;
    background-color: #2094f2;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}
.comment-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comment-card {
    background-color: #ecf0f3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    color: black;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.comment-section {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.comment-section-top {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 37.5rem) {
    .game-detail {
        padding: 3.125rem 1.25rem;
    }
}
