/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    background-color: #ecf0f3 !important;
    font-family: "Poppins", sans-serif !important;
}
.master-container {
    width: 1000px;
    margin: 0 auto;
}

/* Navbar */
.game-background-color {
    background-color: #151f28;
}
.master-navbar {
    width: 100%;
    /* left: 0; */
    /* top: 0; */
    background-color: #151f28;
    /* position: fixed; */
    /* z-index: 10; */
}
.master-navbarflex {
    display: flex;
    color: #ecf0f3;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    padding: 15px 0px;
}
.master-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 6px #000000, -1px -1px 6px #ffffff;
}
.master-navigation {
    display: flex;
}
.master-navigation .genre {
    margin: 0 50px;
}
.master-auth {
    display: flex;
}
.master-navbar a {
    color: #ecf0f3;
}
.master-navbar a:hover {
    text-decoration: none;
    color: #2094f2;
}
.master-auth .master-action {
    margin: 0 10px;
}
/* Navbar end */
